<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043338650558-edagu12itjs0va3q29v2drvte7dcdmu9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043338650558-edagu12itjs0va3q29v2drvte7dcdmu9</string>
	<key>API_KEY</key>
	<string>AIzaSyA4nq_sXSjTkXF6PnWQWs44-WzVVOr0Lps</string>
	<key>GCM_SENDER_ID</key>
	<string>1043338650558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.patryklaskowski.dishesRanking</string>
	<key>PROJECT_ID</key>
	<string>dishes-ranking-1213</string>
	<key>STORAGE_BUCKET</key>
	<string>dishes-ranking-1213.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043338650558:ios:3b2d89cadd695733e2cfef</string>
</dict>
</plist>